[report]
exclude_lines =
    pragma: no cover
    ^#
exclude_also =
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    raise AssertionError
    raise NotImplementedError