recursive-exclude tests *
recursive-include oarepo_workflows *.yaml
recursive-include oarepo_workflows *.json
recursive-include oarepo_workflows *.po
recursive-include oarepo_workflows *.pot
recursive-include oarepo_workflows *.mo
recursive-include oarepo_workflows *.js
recursive-include oarepo_workflows *.jsx
recursive-include oarepo_workflows *.less
recursive-include oarepo_workflows *.jinja